<div class="position-relative text-white p-5 container">
    <p-toast />
    <p-confirmDialog />
    <div class="row">
        <p-button label="Add Task" [outlined]="true" severity="warning" [routerLink]="'/add-todo'" />
    </div>
    <div class="row my-5">
        <p-table [value]="toDoList" dataKey="id" [rows]="5" [rowsPerPageOptions]="[5, 10, 25, 50]" [loading]="loading"
            [paginator]="true" styleClass="p-datatable-striped" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>No.</th>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <th></th>
                    <th>
                        <p-columnFilter type="text" field="title" placeholder="Search by title"
                            ariaLabel="Filter Title" />
                    </th>
                    <th>
                        <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)"
                                    placeholder="Select One" [showClear]="true">
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-todo let-index="rowIndex">
                <tr>
                    <td>{{ index + 1 }}</td>
                    <td>{{ todo.title }}</td>
                    <td>
                        <p-tag [value]="todo.status" [severity]="getSeverity(todo.status)" />
                    </td>
                    <td>
                        <p-button [routerLink]="['/details', todo.id]" icon="fa-solid fa-eye" severity="success"
                            [rounded]="true" [text]="true"/>

                        <p-button [routerLink]="['/edit-todo', todo.id]" icon="fa-solid fa-pen" severity="primary"
                            [rounded]="true" [text]="true"/>
                        <p-button (onClick)="deleteToDo(todo.id, $event)" icon="fa-solid fa-trash" severity="danger"
                            [rounded]="true" [text]="true"/>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="4">No Tasks found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>