<div class="container my-5 p-3 bg-secondary rounded" [style]="{'max-width':'500px'}">
    <p-toast />
    <form [formGroup]="formGroup" class="w-100" (ngSubmit)="addTask()">
        <div class="mb-5">
            <label>Title</label>
            <input type="text" pInputText formControlName="title" class="w-100 ng-dirty" />
        </div>
        <div class="mb-5">
            <label>Description</label>
            <textarea rows="5" cols="30" pInputTextarea formControlName="description" class="w-100">
                </textarea>
        </div>
        <div class="mb-5">
            <label class="d-block">Status</label>
            <p-dropdown formControlName="status" [options]="statuses" placeholder="Select One" [showClear]="true"
                [style]="{'minWidth':'100%'}">
            </p-dropdown>
        </div>
        <p-button label="Submit" type="Submit" severity="warning" [disabled]="formGroup.invalid"/>
    </form>
</div>